{% extends 'app/layout.html' %}

{% block content %}
{% load static %}
 <div class="container-fluid body-content ">
        <h1 class="text-center text-white mt-5" style="font-family:'Times New Roman', Times, serif;" >Devlopers Team</h1>
        <div class="row  justify-content-center   mt-sm-5">
            <div class="col-10 col-sm-5 col-md-6 col-lg-4 col-xl-2">
                <div class="card card text-white bg-dark mb-3">
                    <h3 class="card-header">Muhammad Rafay</h3>
                    <div class="card-body">
                        <h5 class="card-title">Position</h5>
                        <h6 class="card-subtitle ">Developer</h6>
                    </div>
                    <img style="height: 300px; width: 100%; display: block;" src="{% static 'DashBoard/images/Rafay.jpg' %}" alt="Card image">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">
                            <a href="https://www.facebook.com/iamM.Rafay" target="_blank" class=" text-white"><img
                                    src="Images/fb_icon_325x325.png" width="20" /> Muhammad Rafay</a>
                        </li>

                    </ul>

                </div>

            </div>
           
            <div class="col-10  col-md-6 col-lg-4 col-xl-2">
                <div class="card card text-white bg-dark  mb-3">
                    <h3 class="card-header">Muhammad Aamir</h3>
                    <div class="card-body">
                        <h5 class="card-title">Position</h5>
                        <h6 class="card-subtitle ">Content creater</h6>
                    </div>
                    <img style="height: 300px; width: 100%; display: block;" src="{% static 'DashBoard/Images/Aamir.jpg' %}" alt="Card image">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">
                            <a href="https://www.facebook.com/profile.php?id=100009139518734" target="_blank"
                                class=" text-white"><img src="Images/fb_icon_325x325.png" width="20" /> Muhammad
                                Aamir</a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="col-10  col-md-6 col-lg-4 col-xl-2">
                <div class="card card text-white bg-dark  mb-3">
                    <h3 class="card-header">Muhammad Sabih</h3>
                    <div class="card-body">
                        <h5 class="card-title">Position</h5>
                        <h6 class="card-subtitle ">Logistic</h6>
                    </div>
                    <img style="height: 300px; width: 100%; display: block;" src="{% static 'DashBoard/Images/Sabih.jpg' %}" alt="Card image">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">
                            <a href="https://www.facebook.com/sabih.mohsin.50" target="_blank" class=" text-white"><img
                                    src="Images/fb_icon_325x325.png" width="20" /> Muhammad Sabih</a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="col-10  col-md-6 col-lg-4 col-xl-2">
                <div class="card card text-white bg-dark  mb-3">
                    <h3 class="card-header">Muhammad Ismail</h3>
                    <div class="card-body">
                        <h5 class="card-title">Position</h5>
                        <h6 class="card-subtitle ">Grpahic Designer</h6>
                    </div>
                    <img style="height: 300px; width: 100%; display: block;" src="{% static 'DashBoard/Images/Ismail.jpg' %}" alt="Card image">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-dark">
                            <a href="https://www.facebook.com/ismailvohra62" target="_blank" class=" text-white"><img
                                    src="Images/fb_icon_325x325.png" width="20" /> Muhammad Ismail</a>
                        </li>

                    </ul>

                </div>

            </div>



        </div><br><br><br>
        <div class="container-fluid justify-content-center black">
            
                <p class="text-white">
                </p>
               
                   
                    
        </div>
 </div>
{% endblock %}
{#<div class="container-fluid">
   <div class="row align-items-center vh-100">
       <div class="col ">
            <div class="row justify-content-center">
              <h1 class="text-white und"><u>Developed by</u></h1>
              </div>
    <div class="row">
        <div class="col">
            <h3 class="text-center text-white">Muhammad Rafay</h3>
            <h3 class="text-center text-white">Umair Zafar</h3>
            <h3 class="text-center text-white">Muhammad Aamir</h3>
            <h3 class="text-center text-white">Muhammad Sabih</h3>
            <h3 class="text-center text-white">Muhammad Ismail</h3>
        </div>
    </div>
       </div>
   </div>
</div>#}